In [1]:
print("Hello");

Hello

In [2]:
10 * 85

850

In [3]:
a = 850
b = 150
c = 70
print(a+b+c)

1070

In [4]:
#// 소수점 절삭 연산자
a = 10/3
print(a)

3.3333333333333335

In [5]:
a = 2**8
print(a)

256

In [6]:
print(2**3)

8

In [7]:
a = 'hello world'
print('a = '+str(a))

a = hello world

In [8]:
date = '20191025'
year = date[0:4]
month = date[4:6]
day = date[6:]
date2 = year + '-' + month +'-' + day
print(date2)

2019-10-25

In [9]:
color = '빨강'
fmt = "나는 %s를 좋아한다" % color
print(fmt)

나는 빨강를 좋아한다

In [10]:
kor = 98
eng = 95
math = 98
sum = kor + eng + math
avg =  sum/3
fmt = 'sum : %d ,avg : %f' %(sum,avg)
print(fmt)

sum : 291 ,avg : 97.000000

# Tuple(), Llist, Dict

In [11]:
name = input('이름입력:')
print('name is :' + name)

이름입력:
name is :

In [12]:
a = input ('값을 입력하세요')
print(a)

값을 입력하세요

In [13]:
a = input("첫번째 수")
b = input("두번째 수")
sum = int(a) + int(b)
sub = int(a) - int(b)
mul = int(a) * int(b)
div = int(a) / int(b)

print("합은" + str(sum))
print("차은" + str(sub))
print("곱은" + str(mul))
print("나누기" + str(div))

첫번째 수
두번째 수

ValueError: invalid literal for int() with base 10: ''

In [ ]:
print("go to home")
print("go to bed")

In [14]:
price = int(input('물건가격'))
num = int(input('구매개수'))
pay = int(input('지불금액'))
change = pay - price * num
print('물건가격 : %d, 구매개수 %d, 지불금액 %d => 거스름돈 %d' %(price,num,pay,change))

물건가격

ValueError: invalid literal for int() with base 10: ''

In [15]:
#논리 연산자 & || ! => and or not
kor = 60
eng = 90
comp = kor >= 70 and eng >= 90
print('comp type:'+str(type(comp)+ ',value :' + str(comp)))
comp kor >= 70 or eng >= 90
print('comp type:'+str(type(comp)+ ',value :' + str(comp)))
comp = kor = 70
print('comp type:'+str(type(comp)+ ',value :' + str(comp)))
comp = not kor == 70
print('comp type:'+str(type(comp)+ ',value :' + str(comp)))

x = 5
comp = x%2 == 0
comp = kor = 70
print('comp type:'+str(type(comp)+ ',value :' + str(comp)))

SyntaxError: invalid syntax (1428903980.py, line 6)

In [16]:
num = input("정수를 입력하세요")
num = int(num)
print("입력된 정수 :",num)
if num >= 100 and num <= 1000: 
    print("입력된 정수는 100~1000사이에 있습니다")

else :
    print("입력된 정수는 100~1000사이에 존재하지 않습니다")

정수를 입력하세요

ValueError: invalid literal for int() with base 10: ''

In [17]:
char = input("영어 소문자 하나를 입력하세요")
if(char == 'a' or char == 'e' or char == 'i' or char == 'o' or char =='u'):
    print('%s -> 모음' % char)
else:
    print('%s -> 자음' % char)

영어 소문자 하나를 입력하세요
 -> 자음

In [18]:
month = int(input("월을 입력하세요 :"))

if month >= 3 and month <= 5:
    season = '봄'
    print(month, '월은' ,season,'입니다' )
elif month >= 6 and month <= 8:
    season = '여름'
    print(month, '월은' ,season,'입니다')
elif month >= 9 and month <= 11:
    season = '가을'
    print(month, '월은' ,season,'입니다')
elif month ==12  or month ==1 or month ==2 :
    season = '겨울'
    print(month, '월은' ,season,'입니다')
else:
    print("몰라")

월을 입력하세요 :

ValueError: invalid literal for int() with base 10: ''

for x in range(5):
    print("집 가고 싶다")

In [19]:
#반복문... for, while

In [20]:
cnt = 5
for i in range(cnt):
    print("hello world")
fruits = ['apple','banana','cherry']
for fruit in fruits:
    print(fruit)
    if fruit == 'banana':
        break;

hello world
hello world
hello world
hello world
hello world
apple
banana

In [21]:
for x in range(1, 10):
    print(str(y) + "단")
    for y in range(2, 10):
        print(y, "X", x, "=", x*y, end = " ")

NameError: name 'y' is not defined

In [22]:
# LIST

In [23]:
animals = ['사자','호랑이','원숭이','곰','사슴']
i = 0;
while i < len(animals):
    print(animals[i])
    i = i+1
    print('='*50)
flower =['무궁화','장미','개나리']
print(flower)
flower.append('벚꽃')
print(flower)
flower.remove('장미')
print(flower)

사자
==================================================
호랑이
==================================================
원숭이
==================================================
곰
==================================================
사슴
==================================================
['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '벚꽃']
['무궁화', '개나리', '벚꽃']

In [24]:
scores = []

while True:
    x = int(input('성적을 입력하세요(종료시 -1 입력):'))
    if x == -1:
        break
    else:
        scores.append(x)
        
sum = 0
for score in scores:
    sum = sum + score

avg = sum / len(scores)
print('합계: %d, 평균: %.2f' %(sum,avg))

성적을 입력하세요(종료시 -1 입력):

ValueError: invalid literal for int() with base 10: ''

In [25]:
animals = ['사자','호랑이','원숭이','곰','사슴']
newlist = []
newlist = [x for x in animals]
print(newlist)

print('='*50)

#newlist[x for x in animals if 'a' in x]

['사자', '호랑이', '원숭이', '곰', '사슴']
==================================================

In [26]:
numbers = [[1,2,3],[4,5,6],[7,8,9]]
print(numbers)
print(type(numbers))

#i_len = len(numbers)
#j_len = len(numbers[i])
#print('low_length :' + str(i_len))
#print('col_length :' + str(j_len))
for i in range(len(numbers)):
    for j in range(len(numbers[i])):
        print(f'numbers[{i}][{j}] = {numbers[i][j]}')

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
numbers[0][0] = 1
numbers[0][1] = 2
numbers[0][2] = 3
numbers[1][0] = 4
numbers[1][1] = 5
numbers[1][2] = 6
numbers[2][0] = 7
numbers[2][1] = 8
numbers[2][2] = 9

In [27]:
scores=[
    [75,76,89],
    [65,45,45],
    [45,89,65],
    [56,89,78],
    [59,53,96]
]
#print(scores)

for x in range(len(scores)):
    sum = 0
    for y in range(len(scores[x])):
        sum = sum + scores[x][y]
    mean = sum / len(scores[x])
    print("%d번째학생의합계 : %d평균 : %.2f" %(x+1,sum,mean))

1번째학생의합계 : 240평균 : 80.00
2번째학생의합계 : 155평균 : 51.67
3번째학생의합계 : 199평균 : 66.33
4번째학생의합계 : 223평균 : 74.33
5번째학생의합계 : 208평균 : 69.33

In [28]:
# 함수

def hello():
    print('hello function')

In [29]:
hello()

hello function

In [30]:
def hap():
    a = int(input('첫번째 수'))
    b = int(input('두번째 수'))
    print(a + b)

In [31]:
def calc(a,b):
    
    sum = a + b
    avg = sum/2
    return sum,avg

In [32]:
hap()

첫번째 수

ValueError: invalid literal for int() with base 10: ''

In [33]:
def sum(start,end):
    hap = 0
    for i in range(start,end+1):
        hap = hap + i
    print('%d~%d 의 정수의 합계: %d'%(start,end,hap))

sum(1,10)
sum(100,200)
sum(200,300)

1~10 의 정수의 합계: 55
100~200 의 정수의 합계: 15150
200~300 의 정수의 합계: 25250

In [34]:
file = open('sample.txt', 'w')
file.write('안녕하세요 수업중입니다')
file.close()
print('smaple.txt 파일쓰기 완료')

smaple.txt 파일쓰기 완료

In [35]:
scores=['안소영 56 56 56 66 93',
'정예린 45 64 66 46 56',
'김세린 45 64 56 48 89',
'연수정 54 64 56 45 98',
'박지아 45 65 63 48 87']
data=''
for item in scores:
    data = data + item +'\n'
print(data)
    
file = open('scores.txt','w')
file.write(data)
file.close()

안소영 56 56 56 66 93
정예린 45 64 66 46 56
김세린 45 64 56 48 89
연수정 54 64 56 45 98
박지아 45 65 63 48 87

In [36]:
file = open('scores.txt','r')
lines = file.readlines()
print(type(lines))
print(lines)
for line in lines:
    print(line, end='')
file.close()

<class 'list'>
['안소영 56 56 56 66 93\n', '정예린 45 64 66 46 56\n', '김세린 45 64 56 48 89\n', '연수정 54 64 56 45 98\n', '박지아 45 65 63 48 87\n']
안소영 56 56 56 66 93
정예린 45 64 66 46 56
김세린 45 64 56 48 89
연수정 54 64 56 45 98
박지아 45 65 63 48 87

## Class

 class [className]:
        a #변수
        b #변수
        def method1():
            #문장1
            #문장2
            #...
        def method2():
            #문장1
            #문장2
            #...

In [37]:
class Fruit:
    name = 'orange'
    color = 'yellow'
    
    def taste(self):
        print('새콤하다')
    def vitamin(self):
        print('비타민C가 풍부하다.')

In [38]:
orange = Fruit()
print(orange)
print(type(orange))

print(f'과일명 : {orange.name}')
print(f'색상 : {orange.color}')
orange.taste()
orange.vitamin()

<__main__.Fruit object at 0x000001EDD11B8CA0>
<class '__main__.Fruit'>
과일명 : orange
색상 : yellow
새콤하다
비타민C가 풍부하다.

#class CParent\
{\
   &nbsp;&nbsp;&nbsp;&nbsp; int a = 10;\
   &nbsp;&nbsp;&nbsp;&nbsp; int b = 20;\
   &nbsp;&nbsp;&nbsp;&nbsp; //생성자\
   &nbsp;&nbsp;&nbsp;&nbsp; CParent(){cout<<"Ctor"<<endl;}\
   &nbsp;&nbsp;&nbsp;&nbsp; //사용자 정의 생성자\
   &nbsp;&nbsp;&nbsp;&nbsp; CParent(/*this*/int a, int  b)\
   &nbsp;&nbsp;&nbsp;&nbsp; {\
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     this.a = a;\
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     this.b = b;\
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     cout<<"Ctor"<<endl;\
   &nbsp;&nbsp;&nbsp;&nbsp; }\
   &nbsp;&nbsp;&nbsp;&nbsp; void age(this){}\
   &nbsp;&nbsp;&nbsp;&nbsp; //소멸자\
   &nbsp;&nbsp;&nbsp;&nbsp; ~CParent(){cout<<"Dtor"<<endl;}\
}\

In [39]:
class Circle:
    radius = 10
    
    def getArea(self):
        Area = 3.141592*self.radius*self.radius
        return Area
    
    def getCircum(self):
        circum = 2*3.141592*self.radius
        return circum

In [40]:
cir = Circle()

print('반지름 %d'%cir.radius)
print('원의 면적 %.2f'%cir.getArea())
print(f'원주의 길이 {round(cir.getCircum(),2)}')

반지름 10
원의 면적 314.16
원주의 길이 62.83

In [41]:
class Student:
    name = '황재호'
    kor = 80
    eng = 90
    math = 100
    
    def __init__(self, name= '황재호', kor= 80, eng= 90, math= 100):
        #코드 작성
        self.name=name
        self.kor = kor
        self.eng = eng
        self.math= math
    
    def getSum(self):
        sum = self.kor+self.eng+self.math
        return sum
    def getAvg(self):
        avg = float(self.getSum())/3
        return avg

In [42]:
stu = Student()
print(':실행결과')
print('\n')
print(f'이름 : {stu.name}')
print(f'국어 : {stu.kor}')
print(f'영어 : {stu.eng}')
print(f'수학 : {stu.math}')
print(f'합계 : {float(round(stu.getSum(),1))}')
print(f'평균 : {stu.getAvg()}')

:실행결과


이름 : 황재호
국어 : 80
영어 : 90
수학 : 100
합계 : 270.0
평균 : 90.0